:root {
    --discord-bg-hover: #18181a;
    --discord-bg-mentioned: #191308;

    --discord-text-muted: #9d9ea5;

    --discord-mention: #d78900;

    --discord-silent-message-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.07 3.29 18.68 7h2.82c.28 0 .5.23.5.5v1a.5.5 0 0 1-.5.5h-5.33a.5.5 0 0 1-.5-.5v-1a1 1 0 0 1 .21-.63l1.1-1.38 1.99-2.5H16.5a.5.5 0 0 1-.5-.5V1.5c0-.28.22-.5.5-.5h5.33c.28 0 .5.22.5.5v1.11a1 1 0 0 1-.26.68Z"></path><path d="M19 11.5a.5.5 0 0 0-.5-.5h-2.33a2.5 2.5 0 0 1-2.5-2.5v-1a3 3 0 0 1 .65-1.87l.48-.6c.18-.23.12-.57-.08-.78a2.5 2.5 0 0 1-.7-1.49.94.94 0 0 0-.07-.24 2 2 0 0 0-3.87-.07.62.62 0 0 1-.39.44A7 7 0 0 0 5 9.5v2.09a.5.5 0 0 1-.13.33l-1.1 1.22A3 3 0 0 0 3 15.15v.28c0 .67.34 1.29.95 1.56 1.31.6 4 1.51 8.05 1.51 4.05 0 6.74-.91 8.05-1.5.61-.28.95-.9.95-1.57v-.28a3 3 0 0 0-.77-2l-1.1-1.23a.5.5 0 0 1-.13-.33v-.09ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 0 1-5.64 0Z"></path></svg>');
}

.md-content .discord-message {
    display: flex;
    gap: 16px;
    padding: 2px 16px;
    margin-top: 1px;

    color: var(--md-default-fg-color);
    background: var(--md-default-bg-color);

    font-family:
        "gg sans",
        "Noto Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;

    font-size: 15px;
    line-height: 1.375rem;

    transition: background-color 80ms ease;
}

.md-content .discord-message:hover {
    background: var(--discord-bg-hover);
}

.md-content .discord-message.is-mentioned {
    background: var(--discord-bg-mentioned);
    border-left: 2px solid var(--discord-mention);
    padding-left: 14px;
}

.md-content .discord-avatar {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;

    border-radius: 50%;
    object-fit: cover;

    margin-top: 2px;

    cursor: pointer;
}

.md-content .discord-message-content {
    min-width: 0;
    flex: 1;
}

.md-content .discord-message-header {
    display: flex;
    align-items: baseline;
    gap: 6px;

    height: 22px;
}

.md-content .discord-username {
    color: var(--md-default-fg-color);
    font-weight: 550;
}

.md-content .discord-username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.md-content .discord-timestamp {
    color: var(--discord-text-muted);
    font-size: 0.5rem;
    font-weight: 400;
}

.md-content .discord-silent-message::before {
    content: "";
    display: inline-block;
    height: 0.7rem;
    width: 0.7rem;

    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--discord-text-muted);
    -webkit-mask-image: var(--discord-silent-message-icon);
            mask-image: var(--discord-silent-message-icon);
}

.md-content .discord-message-body {
    color: var(--discord-text);
    overflow-wrap: anywhere;
}